*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    display: none;
}

.title{
    text-align: center;
    margin-bottom: 1rem;
}

.bnt_play{
    
}

.box{
    width: calc(100% / 10);
    aspect-ratio: 1/1;
    background-color: rgba(212, 27, 61, 0.451);
}

.azzurro{
    background-color: aqua;
}